.smallCard {
    display: flex;
    max-width: 354px;
    width: 100%;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 767px) {
        & {
            max-width: 272px;
            width: 100%;
            margin-bottom: 32px;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            max-width: 328px;
            width: 100%;
        }
    }

    .smallCardContent {
        display: flex;
        flex-direction: row;
        padding-bottom: 25px;

        @media (max-width: 767px) {
            & {
                flex-direction: column;
                padding-bottom: 0;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            & {
                flex-direction: column;
                padding-bottom: 0;
            }
        }

        .smallCardImg_Upper {
            display: none;
            width: 100%;
            object-fit: contain;
            padding-bottom: 24px;

            @media (max-width: 767px) {
                & {
                    display: block;
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    display: block;
                }
            }
        }

        .smallCardText {
            width: 63%;
            padding-right: 34px;
            text-align: left;

            @media (max-width: 767px) {
                & {
                    width: 100%;
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    width: 100%;
                }
            }
        }

        h3 {
            font-size: 18px;
            line-height: 28px;
            font-weight: 600;
            color: #313037;
            padding: 8px 0 0 0;
            margin: 0;


            @media (max-width: 767px) {
                & {
                    padding: 8px 0 25px 0;
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    padding: 8px 0 25px 0;
                }
            }

            &:hover {
                color: #2231AA;
                cursor: pointer;
                transition: all 0.7s;
            }
        }

        .smallCardImg {
            display: block;
            width: 27%;
            object-fit: contain;
            align-self: flex-start;

            @media (max-width: 767px) {
                & {
                    display: none;
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    display: none;
                }
            }
        }
    }
}