.singIn {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-top: 156px;

    @media (max-width: 767px) {
        & {
            max-width: 272px;
            width: 100%;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            max-width: 688px;
            width: 100%;
        }
    }

        .singInTitle {
            text-align: left
        }

                .singInBox{
                    display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 40px;
                        gap: 10px;
                    
                        position: absolute;
                        width: 624px;
                        height: 472px;
                        left: 648px;
                        top: 364px;

                        border: 1px solid #DADADA;
                }
}