.theme_wrapper{
    width: 100vw;
        height: 100vh;
}
.light {
    background-color: #37c08b;
    color: #313037;
}

.dark {
    background-color: #313037;
    color: #FFFFFF;
}

.btn {
    display: block;
    margin: 100px auto;
    height: 82px;
    width: 100px;
}


