.body {
    max-width: 1120px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    //padding-top: 84px;
    flex: 1 0 auto;

    @media (max-width: 767px) {
        & {
            max-width: 272px;
            width: 100%;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            max-width: 688px;
            width: 100%;
        }
    }
}