
.sing_in_box {
    margin-top: 72px;
    padding: 0 40px 40px 40px;
    @media (min-width: 768px) and (max-width: 1024px) {
            & {
                margin-top: 56px;
            }
        }
    
        @media (max-width: 767px) {
            & {
                margin-top: 48px;
            }
        }

    a {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #313037;
        padding-top: 16px;
        text-align: left;
        text-decoration: none;

        // &:hover {
        //         color: #2231AA;
        //         cursor: pointer;
        //         transition: all 0.25s;
        //     }
        // }
    }

    span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #8D8E97;
        padding-top: 24px;

        a {
            color: #2231aa;
        }
    }
}


