.bigCard {
    max-width: 736px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cardContent {
        display: flex;
        flex-direction: row;
        padding-bottom: 32px;

        @media (max-width: 767px) {
            & {
                flex-direction: column;
                padding-bottom: 0;
            }
        }

        .cardImg_Upper {
            display: none;
            width: 100%;
            object-fit: contain;
            padding-bottom: 24px;

            @media (max-width: 767px) {
                & {
                    display: block;
                }
            }
        }

        .cardText {
            width: 60%;
            padding-right: 32px;
            text-align: left;

            @media (max-width: 767px) {
                & {
                    width: 100%;
                }
            }
        }

        h2 {
            font-size: 32px;
            line-height: 44px;
            font-weight: 700;
            color: #313037;
            padding-bottom: 24px;
            margin: 0;

            @media (max-width: 767px) {
                & {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 600;
                    color: #313037;
                    padding: 8px 0 25px 0;
                    margin: 0;
                }
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                & {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 600;
                    color: #313037;
                    padding: 8px 0 25px 0;
                    margin: 0;
                }
            }

            &:hover {
                color: #2231AA;
                cursor: pointer;
                transition: all 0.7s;
            }
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            color: #8D8E97;
            margin: 0;

            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @media (max-width: 767px) {
                & {
                    display: none;
                }
            }
        }

        .cardImg {
            display: block;
            width: 35%;
            object-fit: contain;
            align-self: flex-start;

            @media (max-width: 767px) {
                & {
                    display: none;
                }
            }
        }
    }
}

.middleCard {
    display: flex;
    max-width: 352px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 40px;

    @media (max-width: 767px) {
        & {
            max-width: 272px;
            width: 100%;
            margin-bottom: 32px;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            max-width: 328px;
            width: 100%;
        }
    }

    h3 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        color: #313037;
        padding: 8px 0 25px 0;
        margin: 0;

        &:hover {
            color: #2231AA;
            cursor: pointer;
            transition: all 0.7s;
        }

        @media (max-width: 767px) {
            & {
                max-width: 272px;
                width: 100%;
                padding: 8px 0 25px 0;
            }
        }
    }

    .cardImg {
        width: 100%;
        object-fit: contain;
        padding-bottom: 24px;
    }
}