.bigAndSmallContent {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    height: 33.3% !important;
    flex-direction: row; 

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            flex-direction: column;
        }    
    }
        @media (max-width: 767px) {
            & {
                flex-direction: column;
            }
        }
}

.smallAndSmallContent {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.middleAndSmallContent {
    display: flex;
    justify-content: space-between;
    height: 33.3% !important;
    flex-direction: row; 

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            flex-direction: column;
        }
    }

        @media (max-width: 767px) {
            & {
                flex-direction: column;
            }
        }
}

    .middleAndMiddleContent {
        display: flex;
        justify-content: space-between;
        max-width: 736px;
        width: 100%;
        flex-direction: row;

        @media (max-width: 767px) {
            & {
                flex-direction: column;
            }
        }
    }
