.singInBox {
    margin-top: 24px;

    @media (min-width: 768px) and (max-width: 1024px) {
        & {
            margin-top: 16px;
        }
    }

    @media (max-width: 767px) {
        & {
            margin-top: 8px;
        }
    }

    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 150px;
        color: red;
        text-decoration: none;

        @media (max-width: 767px) {
            & {
                line-height: 24px;
            }
        }
    }
}

.errors {
    color: #ff0000;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 767px) {
        & {
            flex-direction: column;
        }
    }
}