.pagination {
    text-align: center;
    margin: 0 auto;
    padding: 72px 0;

    .pager,
    .current_page {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;

        text-decoration: none;
        padding: 16px;
    }

    .current_page {
        font-weight: 300;
        text-decoration: underline;
    }
}

        

