.asideMenu_box {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5.25em);
    justify-content: space-between;
    min-width: 230px;
    position: fixed;
    top: 5.25em;

    @media (max-width: 767px) {
        & {
            width: 100%;
        }
    }

    .asideMenu_list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .list_item {
            width: 100%;
            background-color: white;
            padding: 30px 0;
            border: 1px solid #E8E8E8;
            text-decoration: none;

            .item_link {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #313037;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    color: #2231AA;
                    cursor: pointer;
                }
            }
        }

        .list_item_blue {
            border: 1px solid #5360CD;
            background-color: #2231AA;

            &:hover {
                background-color: #5360CD;
            }

            .item_link_blue {
                color: #FFFFFF;

                &:hover {
                    color: #FFFFFF;
                }
            }
        }

        .list_item_grey {
            background-color: #E8E8E8;
            border-bottom: 2px solid #FFFFFF;

            &:hover {
                background-color: #DADADA;
            }

            .item_link_grey {
                color: #313037;
            }
        }
    }
}

.asideMenu_list_row {
    display: flex;
    flex-direction: row;
}

.asideMenu_hiden {
    left: -100%;
    transition: .5s;
}

.open {
    left: 0;
    transition: .5s;
}