.bigAndSmallContent{
    display:flex;
    justify-content: space-between;
    border: 1px dashed red;
    margin-top: 64px;
}

.middleAndSmallContent{
    display:flex;
    justify-content: space-between;
    border: 1px dashed red;

    .middleAndMiddleContent{
        display: flex;
        justify-content: space-between;
        max-width: 736px;
            width: 100%;
    }

}