html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Exo 2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.0)),
    url('Content/img/background.png');
    background-size: cover;
}